\documentclass[a4paper,landscape]{article}
\usepackage[top=30mm,bottom=20mm,left=18mm,right=18mm]{geometry}
\usepackage{array}
\usepackage{colortbl}
\newcolumntype{C}[1]{>{\centering\arraybackslash}p{#1}}
\usepackage{longtable}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}
\usepackage{microtype}
\usepackage{xcolor}
\usepackage{amssymb}
\usepackage{parskip}
\usepackage{fancyhdr}

\setlength{\parindent}{0pt}
\setlength{\tabcolsep}{4pt}
\setlength{\parskip}{0pt}

\definecolor{hdrgray}{gray}{0.82}
\definecolor{prefill}{gray}{0.55}
\definecolor{exrow}{RGB}{220,235,255}
\definecolor{warnred}{RGB}{180,0,0}

\renewcommand{\arraystretch}{1.3}

\newcommand{\pre}[1]{{\color{prefill}\small #1}}
\newcommand{\datastrut}{\rule[-5pt]{0pt}{20pt}}

\pagestyle{fancy}
\fancyhf{}
\renewcommand{\headrulewidth}{0.4pt}
\renewcommand{\footrulewidth}{0.4pt}
\lhead{(% block lhead %)(% endblock %)}
\rhead{(% block rhead %)(% endblock %)}
\lfoot{\small (( cruise ))}
\rfoot{\small (( timestamp ))}

\begin{document}
(% block body %)(% endblock %)
\end{document}
