(% extends "_base_instrument.tex.j2" %)

(% block lhead %)\large\textbf{Cal Dip Setup}(% endblock %)
(% block rhead %)\large\textbf{(( cast_label ))}(% endblock %)

(% block body %)
(% if sheet_warnings %)
\noindent\colorbox{red!10}{\parbox{\dimexpr\linewidth-2\fboxsep\relax}{%
  {\color{warnred}\bfseries $\bigtriangleup$\ MISSING FROM instruments.yaml --- these serials were not found and are omitted from this sheet:}\\[4pt]
  (% for w in sheet_warnings %)
  {\color{warnred}\small \textbullet\ (( w ))}\\
  (% endfor %)
}}
\bigskip
(% endif %)
\begin{tabular}{lllll}
  \textbf{Moorings:} & (( moorings_str )) & &
  \textbf{CTD cast \#:} & \underline{\hspace{2cm}} \\[2pt]
  \textbf{Cast depth:} & \underline{\hspace{2cm}} m & &
  \textbf{Date:} & \underline{\hspace{3cm}} \\
\end{tabular}

\smallskip
{\small
\textbf{Data path:} \texttt{(( caldip_data ))/cal\_dip/(( cast_label ))/}\\[2pt]
\textbf{Firmware $<$ 3.0d:}\enspace\texttt{\string{default\_filename\string}\_cal\_dip\_data.asc}\\[1pt]
\textbf{Firmware $\geq$ 3.0d:}\enspace\texttt{\string{default\_filename\string}\_cal\_dip\_data.xml $\to$ Convert XML $\to$ .cnv}
}

\smallskip
%% UTC clock sync reminder
{\color{warnred}\textbf{\small $\bigstar$~Confirm: laptop clock synced to UTC before setting instrument clocks.}}

(% for section in sections %)

\bigskip
\begin{longtable}{(( section.colspec ))}
%% ---- title row (first page) -----------------------------------------------
\multicolumn{(( section.ncols ))}{l}{%
  \textbf{\small (( section.title ))}%
  (% if section.post_deployment %)
  {\color{red}\small \quad --- POST-DEPLOYMENT: do \textbf{NOT} reset SAMPLENUMBER/SAMPLENUM}%
  (% endif %)}\\
\hline
(( section.header_row ))\\
\hline
\endfirsthead
%% ---- continuation header (subsequent pages) --------------------------------
\multicolumn{(( section.ncols ))}{l}{%
  \textbf{\small (( section.title ))} {\small (continued)}}\\
\hline
(( section.header_row ))\\
\hline
\endhead
%% ---- footer ----------------------------------------------------------------
\hline
\endfoot
%% ---- example row -----------------------------------------------------------
\rowcolor{exrow}
(( section.example_row ))\\
\hline
%% ---- data rows -------------------------------------------------------------
(% for row in section.data_rows %)
\datastrut (( row ))\\
\hline
(% endfor %)
\end{longtable}

(% endfor %)
(% endblock %)
